<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div th:text="hello">hello-11</div>

    <div th:text="${aa}">aa-22</div>

    <input type="text" th:value="${aa}" />

    <div>
        <p th:text="${message}" th:each="message : ${thEach}">333</p>
    </div>

    <p th:if="true" th:text="hhaha1">aa1</p>
    <p th:unless="false" th:text="hhaha2">aa2</p>
    <script >
        console.log("aa");
    </script>
</body>

</html>